<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Mean Authentication App</h1>
    <p class="lead">Welcome to custom MEAN auth app built from scratch </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Express</h5>
          <p class="card-text">Express, is backend framework for Node.js. It is designed for building web applications and APIs.</p>
          <a href="https://expressjs.com/" class="card-link"> link</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Mongo DB</h5>
          <p class="card-text">MongoDB is a free and open-source cross-platform document-oriented or NoSQL database .</p>
          <a href="https://www.mongodb.com/" class="card-link"> link</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Angular</h5>
          <p class="card-text">Angular is a TypeScript-based front-end web application platform led by Team at Google.</p>
          <a href="https://angular.io/" class="card-link"> link</a>
        </div>
      </div>
    </div>
  </div>
</div>